@import "./Common/Constants";

.chat {
    display: grid;
    justify-content: right;
    padding: 10px;

    .hover {
        .hover();
    }

    .chatButton {
        justify-content: right;
        margin: 0 9px;
        border: 10px;
        min-height: 44px;




        >span {
            padding-right: 12px;
            font-size: 20px;
            font-family: @DataExplorerFont;
            color: @DefaultFontColor;
        }
    }
}