@import "./Common/Constants";

.dataResourceTree {
  margin-left: @MediumSpace;

  .databaseHeader {
    font-size: 14px;
  }

  .collectionHeader {
    font-size: 12px;
  }
}

.notebookResourceTree {
  margin-left: @MediumSpace;

  .notebookHeader {
    font-size: 12px;
  }
}


