built/*
dist/*
coverage/**
css/*
Definitions/**/*
libs/**/*
**/node_modules/*
pkg/DataExplorer/*
test/out/*
workers/**/*.js
*.trx
cypress/videos
cypress/screenshots
cypress/fixtures
notebookapp/*
Contracts/*
.DS_Store
.cache/
.env
failure.png