built/*
dist/*
coverage/**
css/*
Definitions/**/*
libs/**/*
**/node_modules/*
pkg/DataExplorer/*
test/out/*
workers/**/*.js
*.trx
notebookapp/*
Contracts/*
.DS_Store
.cache/
.env
failure.png
screenshots/*
GettingStarted-ignore*.ipynb
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
