@import "../../../../less/Common/Constants";

.tabComponentContainer {
  height: 100%;
  .flex-display();
  .flex-direction();

  .tabSwitch {
    margin-left: @LargeSpace;
    margin-bottom: 20px;

    .tab {
      margin-right: @MediumSpace;
    }
  }
}
