.connectExplorerContainer {
  height: 100%;
  width: 100%;
}
.connectExplorerContainer .connectExplorerFormContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.connectExplorerContainer .connectExplorer {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 60px;
}
.connectExplorerContainer .connectExplorer .authFailureTitle {
  font-size: 16px;
  font-weight: 500;
  color: #d12d2d;
  margin: 16px 8px 8px 8px;
}
.connectExplorerContainer .connectExplorer .authFailureMessage {
  font-size: 14px;
  color: #393939;
  margin: 16px 16px 16px 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.connectExplorerContainer .connectExplorer .authFailureLink {
  margin: 8px;
  font-size: 14px;
  color: #0058ad;
  cursor: pointer;
}

.connectExplorerContainer .connectExplorer .connectExplorerContent {
  margin: 8px;
  color: #393939;
}
