@import "../../../../less/Common/Constants";

.throughputInputContainer {
  .throughputInputRadioBtn {
    margin: 0;
  }
}

.throughputInputRadioBtnLabel {
  font-size: @mediumFontSize;
  padding: 0 @LargeSpace 0 @SmallSpace;
}

.throughputInputSpacing > :not(:last-child) {
  margin-bottom: @DefaultSpace;
}
