
    > .subtitle {
      font-size: 18px;
      padding-left: 0px;
      margin: 0px auto;
      text-align: center;
    }
    .splashStackContainer {
      .splashStackRow {
        display: flex;
        gap: 0 16px;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 16px 0;
        }
      }

      @media (max-width: 768px) {
        width: 85% !important;
      }
    }
    .legendContainer{
      margin-left: 16px;
      text-align: left;

      .legend{
        font-size: 18px;
        font-size: 18px;
        font-family: "Segoe UI Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
        } 
        .newDescription {
         font-size: 13px;
        }

        .legendColorBox{
          width: 16px;
          height: 16px;
          margin-right: 8px;
          border: 1px solid var(--colorNeutralStroke1);
        }
    }

    .mainButton {
      border: 1px solid var(--colorNeutralStroke1);
      min-width: 124px;
      max-width: 296px;
      padding: 32px 16px;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
    }

    .mainButtonsContainer {
      display: flex;
      gap: 0 16px;
      margin: 40px auto
    }
   