
    > .subtitle {
      font-size: 18px;
      padding-left: 0px;
      margin: 0px auto;
      text-align: center;
    }
    .splashStackContainer {
      .splashStackRow {
        display: flex;
        gap: 0 16px;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 16px 0;
        }
      }

      @media (max-width: 768px) {
        width: 85% !important;
      }
    }
    .legendContainer{
      margin-left: 16px;
      text-align: left;
    }

    .mainButton {
      border: 1px solid var(--colorNeutralStroke1);
      min-width: 124px;
      max-width: 296px;
      padding: 32px 16px;
    }

    .mainButtonsContainer {
      display: flex;
      gap: 0 16px;
      margin-bottom: 10px
    }
   