.schema-analyzer-cell-outputs {
  padding: 10px 2px;
}

// Mimic FluentUI8's DocumentCard style
.schema-analyzer-cell-output {
  margin-bottom: 20px;
  padding: 14px 20px;
  border: 1px solid rgb(237, 235, 233);
}

.schema-analyzer-cell-output:hover {
  border-color: rgb(200, 198, 196);
  box-shadow: inset 0 0 0 1px rgb(200, 198, 196)
}