@import "../../../../less/Common/Constants";

.settingsV2MainContainer {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}

.settingsV2ToolTip {
  padding: 10px;
  font: 12px @DataExplorerFont;
  max-width: 300px;
}

.autoPilotSelector span {
  height: 25px;
  font: 14px @DataExplorerFont;
}

.settingsV2TabsContainer {
  padding: @LargeSpace @LargeSpace 30px @LargeSpace;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  font-family: @DataExplorerFont;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}

.settingsV2Editor {
  width: 100%;
  height: 60vh;
}

.settingsV2EditorSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
