@import "../../../../less/Common/Constants";

.galleryContainer {
  padding: @LargeSpace @LargeSpace 30px @LargeSpace;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  font-family: @DataExplorerFont;
}

.publicGalleryTabContainer {
  position: relative;
  height: 100vh;
}

.publicGalleryTabOverlayContent {
  background: white;
  padding: 20px;
  margin: 10%;
}
