# This is a basic workflow to help you get started with Actions

name: Cleanup End to End Account Resources

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    # Once every hour
    - cron: "0 15 * * *"

permissions:
  id-token: write
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  cleanupaccounts:
      name: "Cleanup Test Database Accounts"
      uses: ./.github/workflows/cleanup-base.yml
